
*{
    box-sizing: border-box
}

body{
    font-family: 'Inter',sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container{
  display: flex;
  width: 90vh;
  
}

.panel {
    background-size: cover;             /*arka plan resmini alanı dolduracak şekilde ölçeklendirmek için*/
    background-position: center;        /*Arka plan resmini container’ın tam ortasına yerleştirir */
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;                       /*panaller arası boşluk*/
    position: relative;                 /*Normal konumunu korur ama hafif kaydırma olabilir*/
    transition: flex 0.7s ease-in;      /*Eğer elementin flex özelliği değişirse bu değişim 0.7 saniye içinde, başlangıçta yavaş bir şekilde gerçekleşsin */
}


.panel h3{
    font-size:24px;
    position: absolute;                 /*Elementi normal akıştan çıkarır*/
    bottom:20px;
    left: 20px;
    margin: 0;
    opacity: 0;                         /*0 ise görünmez 1 ise görünür*/

}


.panel.active{
    flex: 5;            /*aktif olan ekran büyüsün*/
}

.panel.active h3{
    opacity: 1;         /*aktif ekran büyüyünce yazı belirgin olsun*/
    transition: opacity 0.3s ease-in 0.4s;
}


/*===RESPONSİVE===*/

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }

  .panel {
    flex: 1;
    margin: 5px;
    height: 40vh;
  }

  .panel.active {
    flex: 3;
  }
}






















