
*{
    box-sizing: border-box;
}

body{
    font-family: 'Inter',sans-serif;
    background-color: #EDDCC6;
    color: #BF4646;
    overflow-x: hidden;                     /* Yatay kaydırma çubuğunu gizler */
    margin:0;
}

.container{
    background-color: #7EACB5;
    transform-origin: top left;             /*Dönme işleminin sol üst köşeden başlamasını sağlar*/
    transition: transform 0.5s linear;
    width: 100vw;
    min-height: 100vh;
    padding: 50px;
}

.container.show-nav{
    transform: rotate(-20deg);              /*Elementi saat yönünün tersine 20 derece döndürür*/

}

.circle-container{
    position: fixed;                        /* Sayfa kaysa bile butonlar sabit kalır */
    top: -100px;
    left: -100px;
    
}


.circle{
    background-color:#0992C2;
    height: 200px;
    width: 200px;
    border-radius: 50%;             /* Tam yuvarlak yapar */
    position: relative;
    transition: transform 0.5s linear;
  
}


.circle button {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
    background: transparent;
    border: 0;
    font-size: 26px;
    color: #fff;
    

}

.circle button:focus {
  outline: none;
}

/* Açma Butonu (Hamburger) */
.circle button#open {
  left: 60%;                                    /* Daire içindeki konumu */
}

.circle button#close {
  top: 60%;
  transform: rotate(90deg);                     /* X işaretini dik konuma getirir */
  transform-origin: top left;
}

.container.show-nav + nav li {
  transform: translateX(0);
  transition-delay: 0.3s;
}

/* Menü Açıldığında Dairenin Kendi Etrafında Dönmesi */
.container.show-nav .circle {
  transform: rotate(-70deg);                    /* İkonların yer değiştirmesini sağlar */
}

nav {
  position: fixed;
  bottom: 40px;
  left: 0;
  z-index: 100;                                 /* İçeriğin arkasında, body'nin üstünde kalır */
}

nav ul {
  list-style-type: none;
  padding-left: 30px;
}

nav ul li {
  text-transform: uppercase;
  color: #BF124D;
  margin: 40px 0;
  transform: translateX(-100%);
  transition: transform 0.4s ease-in;
}

nav ul li i {
  font-size: 20px;
  margin-right: 10px;                           /* İkon ile yazı arasına boşluk */
}

nav ul li + li {
  margin-left: 15px;
  transform: translateX(-150%);
}

nav ul li + li + li {
  margin-left: 30px;
  transform: translateX(-200%);
}

.content {
  max-width: 1000px;
  margin: 50px auto;
}

.content h1 {
  color: #BF124D;
  margin: 0;
}

.content small {
  color: #555;
  font-style: italic;
}

.content h2{
    color: #BF124D;
}

.content p {
  color: #333;
  line-height: 1.5;
}

.content img {
  max-width: 100%;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  margin: 20px 0;
}